@model Ncepu.GraduationProject.Sis.Web.Models.Account.ModifyPasswordModel

@{
    ViewBag.Title = "ModifyPassword";
    Layout = "~/Views/Shared/Settings_Layout.cshtml";
}
<ul class="breadcrumb">
    <li>
        <a href="@Url.Action("Index", "Home")">首页</a> <span class="divider">/</span>
    </li>
    <li>
        <a href="@Url.Action("Settings", "Account")">账户设置</a> <span class="divider">/</span>
    </li>
    <li><a href="#">修改密码</a></li>
</ul>

<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header well" data-original-title>
            <h2><i class="icon-edit"></i>修改密码</h2>
        </div>
        <div class="box-content">
            <div class="control-group">
                <label class="control-label @ViewBag.Class">@ViewBag.Hint</label>
            </div>
            @using (Html.BeginForm("ModifyPassword", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
            { 
                <fieldset>
                    <div class="control-group">
                        <label class="control-label" for="focusedInput">原密码</label>
                        <div class="controls">
                            @Html.PasswordFor(m => m.OriginPassword, new { @class = "input-xlarge focused" })
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">新密码</label>
                        <div class="controls">
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "input-xlarge focused" })
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">再次输入新密码</label>
                        <div class="controls">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "input-xlarge focused" })
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">确定</button>
                    </div>
                </fieldset>
            }

        </div>
    </div>
    <!--/span-->

</div>
<!--/row-->
