@model Ncepu.GraduationProject.Sis.Web.Models.EnvironmentalIndex.QueryModel
@using Ncepu.GraduationProject.Sis.Web.Models.EnvironmentalIndex;

<!-- modal window  start-->
<div class="modal hide fade" id="envModal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>选择指标</h3>
    </div>
    @*    <form class="form-horizontal">*@
    @using (Html.BeginForm("Query", "EnvironmentalIndex", FormMethod.Post, new { @class = "form-horizontal" }))
    { 
    
        <div class="modal-body">
            <div class="row-fluid">
                <div class="box span12">
                    <div class="box-header well" data-original-title="">
                        <h2><i class="icon-edit"></i>环保指标</h2>
                    </div>
                    <div class="box-content">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>
                                        <label class="checkbox inline">
                                            <div class="checker">
                                                <span>
                                                    @Html.CheckBoxFor(m => m.IsSO2Checked)
                                                </span>
                                            </div>
                                            SO2排放量</label>
                                    </td>
                                    <td>
                                        <label class="checkbox inline">
                                            <div class="checker">
                                                <span>
                                                    @Html.CheckBoxFor(m => m.IsNOxChecked)
                                                </span>
                                            </div>
                                            NOx排放量
                                        </label>
                                    </td>
                                    <td>
                                        <label class="checkbox inline">
                                            <div class="checker">
                                                <span>
                                                    @Html.CheckBoxFor(m => m.IsDSPCChecked)
                                                </span>
                                            </div>
                                            脱硫耗电量</label>
                                    </td>
                                    <td>
                                        <label class="checkbox inline">
                                            <div class="checker">
                                                <span>
                                                    @Html.CheckBoxFor(m => m.IsDNPCChecked)
                                                </span>
                                            </div>
                                            脱硝耗电量</label>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row-fluid">
                <div class="box san12">
                    <div class="box-header well" data-orignal-title="">
                        <h2><i class="icon-edit"></i>日期选择</h2>
                    </div>
                    <div class="box-content">
                        <div class="control-group">
                            <label class="control-label" for="date01">选择日期:</label>
                            <div class="controls">
                                @Html.TextBoxFor(m => m.Date_01, DateTime.Now.ToString("yyyy-MM-dd"), new { @class = "input-xlarge datepicker" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                @Html.TextBoxFor(m => m.Date_02, " ", new { @class = "input-xlarge datepicker", value = "" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">取消</a>
            <input type="submit" class="btn btn-primary" value="确定" />
        </div>
    }
</div>
<!-- modal window end -->
